In [1]:
from muhaha import *
H_nb={'Q_l':1,'return_df':True,'verbose':False}

**Habitability must depend on stellar properties**

In [2]:
compute_probs(H_S=[0], H_photo=[0], **H_nb)

1it [00:05,  5.62s/it]

,p(alpha),p(beta),p(gamma),p(delta_u),p(delta_d),p(lambda),min,product
C/O,0.174,0.386,5.650000e-07,0.222,0.297,0.141,5.650000e-07,3.527878e-10

**Older stars are not more habitable**

In [3]:
compute_probs(H_S=[0], H_photo=[0], H_time=[1], **H_nb)

1it [00:05,  5.74s/it]

,p(alpha),p(beta),p(gamma),p(delta_u),p(delta_d),p(lambda),min,product
time C/O,0.125,0.303,0.00673,0.162,0.188,0.000434,0.000434,3.369227e-09

**Habitability is proportional to total entropy production**

In [4]:
compute_probs(**H_nb)

1it [00:05,  5.50s/it]

,p(alpha),p(beta),p(gamma),p(delta_u),p(delta_d),p(lambda),min,product
yellow S C/O,0.224,0.194,0.262,0.279,0.354,0.425,0.194,0.000478

**Photosynthesis is necessary for complex life**

In [5]:
compute_probs(H_photo=[0,1,2], **H_nb)

3it [00:16,  5.47s/it]

,p(alpha),p(beta),p(gamma),p(delta_u),p(delta_d),p(lambda),min,product
S C/O,0.0121,0.0189,0.0431,0.028,0.0197,0.00013,0.00013,7.067927e-13
photo S C/O,0.1910,0.3080,0.3080,0.247,0.3190,0.02390,0.02390,3.412089e-05
yellow S C/O,0.2240,0.1940,0.2620,0.279,0.3540,0.42500,0.19400,4.779114e-04

**No strong predictions for planet frequency, size, or orbit**

In [6]:
compute_probs(H_temp=[0,1], H_terr=[0,1,2], **H_nb)

6it [00:40,  6.75s/it]

,p(alpha),p(beta),p(gamma),p(delta_u),p(delta_d),p(lambda),min,product
yellow S C/O,0.224,0.1940,0.2620,0.279,0.354,0.425,0.1940,0.000478
yellow temp S C/O,0.197,0.3010,0.1110,0.250,0.322,0.339,0.1110,0.000180
yellow GI S C/O,0.263,0.0646,0.0726,0.323,0.384,0.307,0.0646,0.000047
yellow GI temp S C/O,0.235,0.0621,0.0531,0.292,0.372,0.241,0.0531,0.000020
yellow iso S C/O,0.237,0.1280,0.3110,0.295,0.369,0.453,0.1280,0.000465
yellow iso temp S C/O,0.205,0.2070,0.1680,0.261,0.340,0.364,0.1680,0.000230

**Superearths are not superhabitable**

In [7]:
compute_probs(H_area=[1], H_S=[0,1], H_temp=[0,1], 
              H_terr=[0,1],**H_nb)

8it [00:47,  5.97s/it]

,p(alpha),p(beta),p(gamma),p(delta_u),p(delta_d),p(lambda),min,product
yellow area C/O,0.149,0.45300,0.16300,0.194,0.261,0.586,0.14900,3.264464e-04
yellow area S C/O,0.217,0.00242,0.00283,0.316,0.315,0.425,0.00242,6.287067e-08
yellow temp area C/O,0.124,0.44000,0.06100,0.166,0.231,0.489,0.06100,6.240697e-05
yellow temp area S C/O,0.193,0.00331,0.00509,0.288,0.329,0.339,0.00331,1.044458e-07
yellow GI area C/O,0.188,0.27600,0.04120,0.234,0.319,0.440,0.04120,7.021394e-05
yellow GI area S C/O,0.362,0.04970,0.35500,0.343,0.444,0.307,0.04970,2.986130e-04
yellow GI temp area C/O,0.163,0.26500,0.02980,0.208,0.310,0.357,0.02980,2.963077e-05
yellow GI temp area S C/O,0.414,0.04930,0.41900,0.389,0.485,0.241,0.04930,3.888389e-04

**Habitability is not determined by nutrient flux**

In [8]:
compute_probs(H_photo=[0], H_S=[2], H_TL=[0,1], **H_nb)

2it [00:10,  5.25s/it]

,p(alpha),p(beta),p(gamma),p(delta_u),p(delta_d),p(lambda),min,product
C C/O,0.0713,0.134,0.3300,0.100,0.106,0.000434,0.000434,1.450454e-08
TL C C/O,0.2990,0.177,0.0174,0.352,0.396,0.572000,0.017400,7.342223e-05

**Life does not need radiogenic plate tectonics**

In [9]:
compute_probs(H_S=[1], H_plates=[0,1], **H_nb)

2it [01:13, 36.68s/it]

,p(alpha),p(beta),p(gamma),p(delta_u),p(delta_d),p(lambda),min,product
yellow S C/O,0.224,0.194,0.262,0.279,0.354,0.425,0.194,0.000478
yellow plates S C/O,0.040,0.207,0.243,0.181,0.419,0.424,0.040,0.000065

**Red dwarf stars cannot support life**

In [10]:
compute_probs(H_S=[1], H_photo=[1,2], H_TL=[0,1], 
              H_conv=[0,1], max_P=3, **H_nb)

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:10<00:00,  5.31s/it]

,p(alpha),p(beta),p(gamma),p(delta_u),p(delta_d),p(lambda),min,product
photo S C/O,0.191,0.308,0.308,0.247,0.319,0.0239,0.0239,0.000034
yellow S C/O,0.224,0.194,0.262,0.279,0.354,0.4250,0.1940,0.000478

**The hard step model of intelligence cannot be true**

In [11]:
compute_probs(H_time=[1], H_S=[0], H_photo=[0],
              n_hard=4, **H_nb)

1it [00:05,  5.19s/it]

,p(alpha),p(beta),p(gamma),p(delta_u),p(delta_d),p(lambda),min,product
time C/O,0.0261,0.00652,0.000009,0.0662,0.0253,1.390000e-12,1.390000e-12,3.478371e-24

**Gamma ray bursts do not affect life**

In [12]:
compute_probs(H_S=[1], H_death=[1], H_glac=[0,1],
              H_comets=[0,1], H_vol=[0,1], 
              H_grbs=[0,1], **H_nb)

16it [02:31,  9.50s/it]

,p(alpha),p(beta),p(gamma),p(delta_u),p(delta_d),p(lambda),min,product
yellow S setback C/O,0.224,0.194,0.26200,0.279,0.354,0.425,0.19400,0.000478
yellow S setback vol C/O,0.200,0.212,0.20400,0.255,0.350,0.419,0.20000,0.000323
yellow S setback glac C/O,0.184,0.215,0.20500,0.239,0.349,0.425,0.18400,0.000287
yellow S setback glac vol C/O,0.189,0.214,0.20100,0.244,0.350,0.422,0.18900,0.000293
yellow S setback grbs C/O,0.193,0.326,0.00701,0.245,0.311,0.411,0.00701,0.000014
yellow S setback grbs vol C/O,0.197,0.307,0.01020,0.250,0.316,0.415,0.01020,0.000020
yellow S setback grbs glac C/O,0.195,0.309,0.01030,0.248,0.315,0.418,0.01030,0.000020
yellow S setback grbs glac vol C/O,0.198,0.298,0.01440,0.251,0.319,0.418,0.01440,0.000028
yellow S setback comets C/O,0.197,0.383,0.01440,0.247,0.303,0.432,0.01440,0.000035
yellow S setback comets vol C/O,0.202,0.347,0.02290,0.254,0.310,0.426,0.02290,0.000054
yellow S setback comets glac C/O,0.201,0.348,0.02500,0.253,0.309,0.428,0.02500,0.000059
yellow S setback comets glac vol C/O,0.203,0.329,0.03300,0.256,0.313,0.425,0.03300,0.000075
yellow S setback comets grbs C/O,0.196,0.362,0.00787,0.248,0.306,0.421,0.00787,0.000018
yellow S setback comets grbs vol C/O,0.199,0.344,0.00970,0.251,0.309,0.421,0.00970,0.000022
yellow S setback comets grbs glac C/O,0.198,0.345,0.00980,0.250,0.309,0.423,0.00980,0.000022
yellow S setback comets grbs glac vol C/O,0.201,0.334,0.01180,0.252,0.312,0.422,0.01180,0.000026

**Either an Earthlike C/O or Mg/Si ratio is necessary**

In [13]:
compute_probs(H_S=[1], H_CO=[0,1,2], Q_ER=1, **H_nb)

3it [00:13,  4.52s/it]

,p(alpha),p(beta),p(gamma),p(delta_u),p(delta_d),p(lambda),p(E_R),p(sugar/rock),min,product
yellow S,0.423,0.273,0.234,0.167,0.494,0.428,0.456,0.000124,0.000124,5.395014e-08
yellow S C/O,0.224,0.194,0.262,0.279,0.354,0.425,0.295,0.280000,0.194000,3.947549e-05
yellow S Mg/Si,0.240,0.199,0.265,0.290,0.357,0.425,0.236,0.135000,0.135000,1.774235e-05