In [1]:
pip install sobol_seq

Requirement already satisfied: sobol_seq in /usr/local/lib/python3.6/dist-packages (0.1.2)

In [0]:
from muhaha import *

This creates the random numbers that will be used for computing probabilities.  L_old is the old method, holding the quark masses fixed.  L_new allows m_up and m_down to vary as well.

In [0]:
E5 = make_random(10**5)
L_old = rescale_old(E5, include_bounds=False)
L_new = rescale_permute(E5)

**Habitability must depend on stellar properties**

In [4]:
compute_probs(L_old,H_S=[0],H_photo=[0])

             p(alpha)  p(beta)      p(gamma)  p(delta_u)  p(delta_d)  p(lambda)
au naturale     0.381    0.356  9.340000e-07           1           1      0.141

In [5]:
compute_probs(L_new,H_S=[0],H_photo=[0])

             p(alpha)  p(beta)      p(gamma)  p(delta_u)  p(delta_d)  p(lambda)
au naturale     0.164    0.397  4.460000e-07      0.0526       0.239      0.142

**Older stars are not more habitable**

In [6]:
compute_probs(L_old,H_S=[0],H_photo=[0],H_time=[1])

       p(alpha)  p(beta)  p(gamma)  p(delta_u)  p(delta_d)  p(lambda)
 time     0.272    0.158   0.00754           1           1   0.000436

In [7]:
compute_probs(L_new,H_S=[0],H_photo=[0],H_time=[1])

       p(alpha)  p(beta)  p(gamma)  p(delta_u)  p(delta_d)  p(lambda)
 time     0.259    0.249   0.00546      0.0607       0.339   0.000438

**Habitability is proportional to total entropy production**

In [8]:
compute_probs(L_old)

          p(alpha)  p(beta)      p(gamma)  p(delta_u)  p(delta_d)  p(lambda)
yellow       0.484    0.163  5.890000e-07           1           1      0.585
yellow S     0.157    0.488  3.420000e-01           1           1      0.424

In [9]:
compute_probs(L_new)

          p(alpha)  p(beta)      p(gamma)  p(delta_u)  p(delta_d)  p(lambda)
yellow       0.119    0.398  3.500000e-07      0.0238       0.209      0.588
yellow S     0.423    0.273  2.340000e-01      0.1670       0.494      0.428

**Photosynthesis is necessary for complex life**

In [10]:
compute_probs(L_old, H_photo = [0,1,2])

             p(alpha)  p(beta)      p(gamma)  p(delta_u)  p(delta_d)  p(lambda)
au naturale    0.3810   0.3560  9.340000e-07           1           1   0.141000
 S             0.0791   0.0172  5.960000e-02           1           1   0.000131
 photo         0.4400   0.1830  8.150000e-07           1           1   0.308000
 photo S       0.2410   0.4010  3.830000e-01           1           1   0.024000
yellow         0.4840   0.1630  5.890000e-07           1           1   0.585000
yellow S       0.1570   0.4880  3.420000e-01           1           1   0.424000

In [11]:
compute_probs(L_new, H_photo = [0,1,2])

             p(alpha)  p(beta)      p(gamma)  p(delta_u)  p(delta_d)  p(lambda)
au naturale   0.16400   0.3970  4.460000e-07     0.05260      0.2390   0.142000
 S            0.00314   0.0455  1.120000e-01     0.00027      0.0254   0.000132
 photo        0.14700   0.3980  3.350000e-07     0.03300      0.2380   0.309000
 photo S      0.35500   0.3070  2.500000e-01     0.12000      0.4290   0.024200
yellow        0.11900   0.3980  3.500000e-07     0.02380      0.2090   0.588000
yellow S      0.42300   0.2730  2.340000e-01     0.16700      0.4940   0.428000

**No strong predictions for planet frequency, size, or orbit**

In [12]:
compute_probs(L_old, H_S=[1], H_temp=[0,1], H_terr=[0,1,2])

                    p(alpha)  p(beta)  ...  p(delta_d)  p(lambda)
yellow S               0.157   0.4880  ...           1      0.424
yellow temp S          0.222   0.3790  ...           1      0.338
yellow  GI S           0.206   0.0489  ...           1      0.306
yellow  GI temp S      0.371   0.0644  ...           1      0.241
yellow  iso S          0.184   0.3210  ...           1      0.452
yellow  iso temp S     0.278   0.4300  ...           1      0.362

[6 rows x 6 columns]

In [13]:
compute_probs(L_new, H_S=[1], H_temp=[0,1], H_terr=[0,1,2])

                    p(alpha)  p(beta)  ...  p(delta_d)  p(lambda)
yellow S               0.423   0.2730  ...       0.494      0.428
yellow temp S          0.328   0.2830  ...       0.408      0.341
yellow  GI S           0.349   0.0810  ...       0.422      0.309
yellow  GI temp S      0.151   0.0537  ...       0.218      0.244
yellow  iso S          0.340   0.1710  ...       0.406      0.455
yellow  iso temp S     0.216   0.1610  ...       0.288      0.366

[6 rows x 6 columns]

**Superearths are not superhabitable**

In [14]:
compute_probs(L_old, H_area=[1], H_S=[0,1], H_temp=[0,1], H_terr=[0,1], min_prob=.02)

                        p(alpha)  p(beta)  ...  p(delta_d)  p(lambda)
yellow area             0.454000  0.38700  ...           1      0.585
yellow area S           0.021800  0.02670  ...           1      0.424
yellow temp area        0.466000  0.31200  ...           1      0.488
yellow temp area S      0.026500  0.03260  ...           1      0.338
yellow  GI area         0.437000  0.30800  ...           1      0.440
yellow  GI area S       0.000607  0.00104  ...           1      0.306
yellow  GI temp area    0.297000  0.33600  ...           1      0.357
yellow  GI temp area S  0.001290  0.00158  ...           1      0.241

[8 rows x 6 columns]

In [15]:
compute_probs(L_new, H_area=[1], H_S=[0,1], H_temp=[0,1], H_terr=[0,1], min_prob=.02)

                        p(alpha)  p(beta)  ...  p(delta_d)  p(lambda)
yellow area              0.09680   0.2690  ...      0.1680      0.588
yellow area S            0.21200   0.0180  ...      0.3490      0.428
yellow temp area         0.06760   0.2820  ...      0.1330      0.491
yellow temp area S       0.22000   0.0198  ...      0.3560      0.341
yellow  GI area          0.07430   0.2260  ...      0.1330      0.443
yellow  GI area S        0.00529   0.0579  ...      0.0218      0.309
yellow  GI temp area     0.02490   0.1890  ...      0.0646      0.360
yellow  GI temp area S   0.00946   0.0533  ...      0.0264      0.244

[8 rows x 6 columns]

**Habitability is not determined by nutrient flux**

In [16]:
compute_probs(L_old, H_photo=[0], H_S=[2], H_TL=[0,1])

       p(alpha)  p(beta)  p(gamma)  p(delta_u)  p(delta_d)  p(lambda)
 C       0.3690   0.0877    0.3270           1           1   0.000436
 TL C    0.0483   0.3360    0.0213           1           1   0.570000

In [17]:
compute_probs(L_new, H_photo=[0,2], H_S=[2])

          p(alpha)  p(beta)  p(gamma)  p(delta_u)  p(delta_d)  p(lambda)
 C           0.170    0.116    0.2380      0.0302       0.258   0.000438
yellow C     0.176    0.284    0.0542      0.1940       0.136   0.452000

**Life does not need radiogenic plate tectonics**

In [18]:
compute_probs(L_old,H_S=[1],H_plates=[0,1])

                 p(alpha)  p(beta)  p(gamma)  p(delta_u)  p(delta_d)  p(lambda)
yellow S           0.1570    0.488     0.342           1           1      0.424
yellow plates S    0.0626    0.392     0.185           1           1      0.424

In [19]:
compute_probs(L_new,H_S=[1],H_plates=[0,1])

                 p(alpha)  p(beta)  p(gamma)  p(delta_u)  p(delta_d)  p(lambda)
yellow S           0.4230    0.273     0.234       0.167       0.494      0.428
yellow plates S    0.0724    0.345     0.268       0.179       0.128      0.424

**Red dwarf stars cannot support life**

In [20]:
compute_probs(L_old,H_S=[1],H_photo=[1,2],H_TL=[0,1],H_conv=[0,1], max_P=3)

               p(alpha)  p(beta)  p(gamma)  p(delta_u)  p(delta_d)  p(lambda)
 photo S          0.241    0.401     0.383           1           1      0.024
 photo conv S     0.260    0.388     0.360           1           1      0.024
 photo TL S       0.495    0.498     0.301           1           1      0.528
yellow S          0.157    0.488     0.342           1           1      0.424
yellow conv S     0.157    0.488     0.342           1           1      0.424
yellow TL S       0.452    0.401     0.182           1           1      0.440

In [21]:
compute_probs(L_new,H_S=[1],H_photo=[1,2],H_TL=[0,1],H_conv=[0,1], max_P=3)

               p(alpha)  p(beta)  p(gamma)  p(delta_u)  p(delta_d)  p(lambda)
 photo S         0.3550    0.307     0.250      0.1200       0.429     0.0242
 photo conv S    0.3360    0.289     0.246      0.1140       0.412     0.0242
 photo TL S      0.1680    0.293     0.157      0.0635       0.252     0.5280
yellow S         0.4230    0.273     0.234      0.1670       0.494     0.4280
yellow conv S    0.4230    0.273     0.234      0.1670       0.494     0.4280
yellow TL S      0.0917    0.254     0.152      0.0390       0.170     0.4420

**The hard step and bated breath models of intelligence cannot be true (bated breath not displayed)**

In [22]:
compute_probs(L_old,H_time=[1],H_S=[0],H_photo=[0],n_hard=4)

       p(alpha)  p(beta)  p(gamma)  p(delta_u)  p(delta_d)  p(lambda)
 time     0.478  0.00755   0.00001           1           1   0.000436

In [23]:
compute_probs(L_new,H_time=[1],H_S=[0],H_photo=[0],n_hard=4)

       p(alpha)  p(beta)  p(gamma)  p(delta_u)  p(delta_d)  p(lambda)
 time     0.389  0.00518   0.00002     0.00344       0.449   0.000438

**Gamma ray bursts do not affect life**

In [24]:
compute_probs(L_old, H_S=[1], H_death=[1], H_glac=[0,1],
              H_comets=[0,1], H_vol=[0,1], H_grbs=[0,1])

                                       p(alpha)  p(beta)  ...  p(delta_d)  p(lambda)
yellow S setback                          0.157    0.488  ...           1      0.424
yellow S setback vol                      0.162    0.471  ...           1      0.418
yellow S setback glac                     0.161    0.475  ...           1      0.423
yellow S setback glac vol                 0.162    0.472  ...           1      0.421
yellow S setback grbs                     0.231    0.279  ...           1      0.409
yellow S setback grbs vol                 0.225    0.292  ...           1      0.414
yellow S setback grbs glac                0.226    0.292  ...           1      0.417
yellow S setback grbs glac vol            0.219    0.302  ...           1      0.417
yellow S setback comets                   0.154    0.223  ...           1      0.431
yellow S setback comets vol               0.156    0.255  ...           1      0.424
yellow S setback comets glac              0.156    0.254  ...           1      0.427
yellow S setback comets glac vol          0.157    0.277  ...           1      0.424
yellow S setback comets grbs              0.196    0.243  ...           1      0.420
yellow S setback comets grbs vol          0.195    0.255  ...           1      0.419
yellow S setback comets grbs glac         0.196    0.255  ...           1      0.421
yellow S setback comets grbs glac vol     0.193    0.272  ...           1      0.420

[16 rows x 6 columns]

In [25]:
compute_probs(L_new, H_S=[1], H_death=[1], H_glac=[0,1],
              H_comets=[0,1], H_vol=[0,1], H_grbs=[0,1])

                                       p(alpha)  p(beta)  ...  p(delta_d)  p(lambda)
yellow S setback                          0.423    0.273  ...       0.494      0.428
yellow S setback vol                      0.419    0.279  ...       0.492      0.422
yellow S setback glac                     0.415    0.278  ...       0.489      0.427
yellow S setback glac vol                 0.417    0.278  ...       0.491      0.424
yellow S setback grbs                     0.326    0.330  ...       0.415      0.413
yellow S setback grbs vol                 0.340    0.329  ...       0.428      0.417
yellow S setback grbs glac                0.339    0.329  ...       0.427      0.420
yellow S setback grbs glac vol            0.347    0.327  ...       0.434      0.421
yellow S setback comets                   0.456    0.469  ...       0.365      0.434
yellow S setback comets vol               0.474    0.477  ...       0.389      0.428
yellow S setback comets glac              0.475    0.478  ...       0.390      0.431
yellow S setback comets glac vol          0.486    0.450  ...       0.403      0.428
yellow S setback comets grbs              0.459    0.464  ...       0.444      0.424
yellow S setback comets grbs vol          0.450    0.441  ...       0.457      0.423
yellow S setback comets grbs glac         0.449    0.441  ...       0.457      0.425
yellow S setback comets grbs glac vol     0.444    0.426  ...       0.464      0.424

[16 rows x 6 columns]

In [27]:
compute_probs(L_new, H_S=[1], H_CO=[0,1,2], Q_ER=1)

                p(alpha)  p(beta)  p(gamma)  ...  p(delta_d)  p(lambda)  p(E_R)
yellow S           0.423    0.273     0.234  ...       0.494      0.428  0.4560
yellow S C/O       0.178    0.210     0.193  ...       0.316      0.426  0.2500
yellow S Mg/Si     0.414    0.231     0.276  ...       0.273      0.426  0.0607

[3 rows x 7 columns]